body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

// -------------------- common --------------------
.btn-default {
  color: #fff;
  text-decoration: none;
}

.page-title {
  margin-bottom: 20px;
}

.table-area {
  max-width: 1200px;
  margin: auto;
  .table-header {
    margin-bottom: 20px;
    text-align: right;
  }
}

// -------------------- header --------------------
header {
  padding: 10px 20px;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header-title {
    a {
      color: #fff;
      text-decoration: none;
    }
  }
}

// -------------------- main --------------------
main {
  max-width: 1500px;
  margin: auto;
  padding: 10px 20px;
}

// -------------------- footer --------------------
footer {
  padding: 20px 0;
  text-align: center;
}
